manto-service/shop/shop.wsdl

<wsdl:definitions name="ShopService" targetNamespace="http://tempuri.org/" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:tns="http://tempuri.org/"
           xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>

        <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">

            <xs:element name="Item">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="id" type="xs:int" />
                        <xs:element name="name" type="xs:string" />
                        <xs:element name="price" type="xs:float" />
                        <xs:element name="bought" type="xs:boolean" />
                    </xs:all>
                </xs:complexType>
            </xs:element>

            <!-- <element name="Item" nillable="true" type="tns:Item"/> -->

            <xs:element name="ItemArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" element="tns:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- <xs:element name="ItemArray" nillable="true" type="tns:ItemArray"/> -->

        </xs:schema>

    </wsdl:types>

    <wsdl:message name="ItemsRequest">
    </wsdl:message>

    <wsdl:message name="ItemsResponse">
        <wsdl:part name="parameters" element="tns:ItemArray"/>
    </wsdl:message>


    <wsdl:portType name="ShopPort">
        <wsdl:operation name="getItems">
            <wsdl:input message="tns:ItemsRequest" />
            <wsdl:output message="tns:ItemsResponse" />
        </wsdl:operation>
    </wsdl:portType>

    

    <wsdl:binding name="ShopBinding" type="tns:ShopPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getItems">
            <soap:operation soapAction="getItems" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ShopService">
        <wsdl:port name="ShopPort" binding="tns:ShopBinding">
            <soap:address location="http://localhost:8000/wsdl"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>